# https://www.home-assistant.io/integrations/default_config/
# Loads default set of integrations. Do not remove.
default_config:

# https://www.home-assistant.io/integrations/logger/
logger:
  default: warn
  logs:
    custom_components.casambi_mqtt: debug


# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
