# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
homeassistant/config/*
!homeassistant/config/configuration.yaml

# Casambi
.env
casambi-bt-store/
mosquitto/log/*.log
mosquitto/data/*.db