services:
  mosquitto:
    image: eclipse-mosquitto:2.0.20
    environment: {}
    ports:
      - "1883:1883/tcp"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
  homeassistant:
    image: "ghcr.io/home-assistant/home-assistant:2025.2.4"
    volumes:
      - ./homeassistant/config:/config
      - ./custom_components/casambi_mqtt:/config/custom_components/casambi_mqtt
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8123:8123/tcp"
    restart: unless-stopped